.container {
    padding-top: 25px;
}

.planit-container .planit-controls a.zoom {
    width: 25px !important;
    height: 25px !important;
}

body {
    background-color: #513252;
}

table {
    background-color: white;
}

.text-white {
    color: white;
}